[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
rope = "*"
isort = "*"

[packages]
whoosh = "==2.7.4"
fastapi = "==0.115.12"
uvicorn = {extras = ["standard"], version = "==0.34.0"}
aiofiles = "==24.1.0"
python-jose = {extras = ["cryptography"], version = "==3.4.0"}
pyotp = "==2.9.0"
qrcode = "==8.0"
python-multipart = "==0.0.20"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
