$off-white: #f8f9fd70;
$form-control-border: #ced4da;
$drop-shadow: #0000000a;
$muted-text: #6c757d;
$very-muted-text: #d8dbdd;
$text: #222222;
$button-background: #6ca7ff15;
$input-highlight: #6ca7ff;
$logo-key-colour: #f9a76b;
