// Bootstrap
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-vue/dist/bootstrap-vue.css";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Toast UI Markdown Editor
@import "@toast-ui/editor/dist/toastui-editor.css";
@import "@toast-ui/editor/dist/toastui-editor-viewer.css";
@import "prismjs/themes/prism.css";
@import "@toast-ui/editor-plugin-code-syntax-highlight/dist/toastui-editor-plugin-code-syntax-highlight.css";

// Google Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

// Variables
$off-white: #f8f9fd70;

// Mixins
@mixin note-content {
  padding: min(2vw, 30px) min(3vw, 40px);
}

// Elements & Classes
body {
  background-color: $off-white;
  font-family: "Inter", sans-serif;
}

.clickable-link {
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.note {
  background-color: white;
  box-shadow: 0 0 10px #0000000a;
}

.note-viewer {
  @include note-content;
}

.title-input {
  border: none;

  // Override user agent styling
  background-color: $off-white;
  color: #212529;
  padding: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.home-view {
  max-width: 500px;
}

.search-input {
  box-shadow: 0 0 20px #0000000a;
}

.recently-modified {
  // Prevent UI from moving during load
  min-height: 190px;
}

// Toast UI Overrides
.toastui-editor-contents {
  font-family: "Inter", sans-serif;
  h1,
  h2 {
    border-bottom: none;
  }
}

.toastui-editor-contents pre,
.toastui-editor-md-code-block-line-background {
  background-color: darken($off-white, 3%);
}

.toastui-editor-defaultUI {
  border: none;
}

.ProseMirror {
  font-family: "Inter", sans-serif;
}

.toastui-editor-defaultUI .ProseMirror {
  @include note-content;
}
